.w-layout-default {
  width: 100%;
  min-height: 100%;

  &-main {
    height: calc(100vh - 64px);
  }

  &-content {
    margin: 24px 16px 0;
    padding: 24px;
    background: #fff;
    min-height: calc(100vh - 176px);
  }

  & .ant-layout {
    overflow: hidden !important;
  }

  &-footer {
    font-family: "PingFangSC-Regular";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    padding: 24px 0;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}
