.w-layout-default-panel {
  display: flex;
  padding: 24px;

  .ant-popover-inner-content {
    padding: 0;
  }

  &-content {
    padding-left: 24px;
    flex-shrink: 0;
    width: calc(100% - 100px);
  }

  &-title {
    line-height: 14px;
    line-height: 1;
    font-size: 14px;
    font-family: "PingFangSC-Medium";
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-tag {
    margin: 16px 0;
  }

  &-btn {
    margin: 0 16px;
  }

  &-footer {
    height: 46px;
    line-height: 46px;
    font-family: "PingFangSC-Regular";
    color: #8c8c8c;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid $border;
  }

  &-action {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &-label {
    padding-left: 8px;
  }
}
