/** @format */

$family: DINAlternate-Bold, -apple-system, BlinkMacSystemFont, Helvetica Neue,
  PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC,
  WenQuanYi Micro Hei, sans-serif !important;

// 页面最小宽度
$minWidth: 1190px;
// 页面最大宽度
$maxWidth: 1590px;
// 页面主体的宽度
$bodyWidth: 100%;
// 顶部导航栏 nav 的高度
$navHeight: 64px;
// 全局缝隙
$space: 12px;
// 左边侧边栏的宽度
$siderWidth: 150px;

$menuHeight: 60px;

$main: #1890ff;
$main-hover: #40a9ff;

$danger: #f00;
$danger-hover: #ffa39e;

$bg: #f4f4f4;
// 底部色块
$bg-footer: #f7f7f7;

$black: #333;

$gray: #999;
// 禁用颜色
$disable: #ccc;
// table header 背景色
$table-header: #f4f4f4;
// 边框颜色
$border: #f0f0f8;
// 文字颜色
$text: #333;

$white: #fff;
// 移入的背景色
$hover-bg: #ecf5ff;
// 全局进度条颜色
$nprogress: $main;
// 警告颜色
$warning: #e6a23c;
//成功/完成颜色
$green: #67c23a;
//灰色背景色
$gray-bg: #f9f9f9;
// 成功
$success: $green;
// 投影
$shadow: 0 2px 4px rgba(212, 124, 124, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);

// Auxiliary information color-dark
$text-color-help-dark: #909399;
$error-color: $danger;
$warning-color: $warning;
$success-color: $success;
$disabled-color: rgba(0, 0, 0, 0.25);
